@model List<Trip>

<h2 class="text-center">All Trips</h2>

@foreach (Trip trip in Model)
{
  bool alreadyLiked = trip.UserTripLikes.Any(like => like.UserId == Context.Session.GetInt32("UserId"));

  <div class="text-center">
    <hr>
    <h4>
      <a asp-controller="Trips" asp-action="Details" asp-route-tripId="@trip.TripId">
        @trip.Name
      </a>
    </h4>
    <small>@trip.Description</small>
    <div>
      <form asp-controller="Trips" asp-action="Like" asp-route-tripId="@trip.TripId" method="POST">
        <button class="btn btn-outline-secondary">
          @if (alreadyLiked)
          {
            <span>Unlike</span>
          }
          else
          {
            <span>Like</span>
          }
        </button>
      </form>
      <div>
        <span>Liked by: </span>
        @foreach (UserTripLike like in trip.UserTripLikes)
        {
          <span>@like.User.FirstName @like.User.LastName, </span>
        }
      </div>
    </div>
  </div>
}