@model Trip

@{
  ViewData["Title"] = "Trip Details";
  int? uid = @Context.Session.GetInt32("UserId");
}

<div class="w-75 mx-auto">
  <h2>Trip Details - @Model.Name</h2>
  <p>
    Trip Date: @Model.Date | Trip Organizer: @Model.CreatedBy.FullName()
  </p>
  <div>
    @if (@Model.UserId == uid)
    {
      <a asp-controller="Trips" asp-action="Edit" asp-route-tripId="@Model.TripId" class="btn btn-sm btn-outline-warning">
        Edit
      </a>

      @* Delete could be a GET request, but POST is better practice *@
      <form asp-controller="Trips" asp-action="Delete" asp-route-tripId="@Model.TripId" method="POST"
      class="d-inline-block">
        <button class="btn btn-sm btn-outline-danger">Delete</button>
      </form>
    }
  </div>
  <small>@Model.Description</small>
  <p>Add Destination Media</p>
  <hr class="bg-info">
</div>