@model User

<div class="container">
  <h2>Details for @Model.FullName()</h2>
  <hr>

  @foreach (Post post in Model.Posts)
  {
    <div class="card shadow-sm rounded mx-auto w-50 mb-3">
      <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">

        <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.PostId">
          @post.Topic
        </a>

      </h4>
      <div class="card-body">
        <p class="card-text">
          @post.Body
        </p>
        <small class="text-muted">
          Submitted on @post.CreatedAt
        </small>
      </div>

      @if (post.ImgUrl != null)
      {
        <img width="100%" src="@post.ImgUrl" alt="Post Media" class="card-img-bottom">
      }
    </div>
  }

</div>
