@{
    ViewData["Title"] = "Home Page";
}

@model Pet

<div class="text-center">
    <h2>
        <span>
            Fullness @Model.Fullness |
        </span>

        <span>
            Happiness @Model.Happiness |
        </span>

        <span>
            Meals @Model.Meals |
        </span>

        <span>
            Energy @Model.Energy
        </span>
    </h2>
    <h4>@Context.Session.GetString("GameStatus")</h4>

    @* All these could be anchor tags becauase no data is being posted *@
    <a asp-controller="Home" asp-action="Feed" class="btn btn-outline-primary mr-3">Feed</a>

    <form class="d-inline-block mr-3" asp-controller="Home" asp-action="Play" method="POST">
        <button class="btn btn-outline-primary">Play</button>
    </form>

    <a asp-controller="Home" asp-action="Sleep" class="btn btn-outline-primary mr-3">Sleep</a>
</div>
