@* This is the data type we passed in from All method in PostsController *@
@model List<Post>

<h2 class="text-center">All Posts</h2>

@* Import concept: create form on same page as displaying a list. *@
@{
  Post newPost = new Post();
}
<partial name="_createForm" model="@newPost"></partial>

<hr>

@foreach (Post post in Model)
{
  <div class="card shadow rounded mx-auto w-75 mb-3">
    <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
      @* <a href="/posts/@post.PostId">@post.Topic</a> *@
      <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.PostId">@post.Topic</a>
    </h4>

    <div class="card-body">
      <p class="card-text">
        @post.Body
      </p>
      <small class="text-muted">
        Submited by <a asp-controller="Home" asp-action="Details"
        asp-route-userId="@post.Author.UserId">@post.Author.FullName()</a> on: @post.CreatedAt
      </small>
    </div>

    @if (post.ImgUrl != null)
    {
      <img src="@post.ImgUrl" alt="related to post." class="card-img-bottom">
    }

    <div class="card-footer text-center">
      <form asp-controller="Posts" asp-action="Like" asp-route-postId="@post.PostId">
        @{
          bool alreadyLiked = post.Likes.Any(like => Context.Session.GetInt32("UserId") == like.UserId);
        }

        <button class="btn btn-outline-info">
          @if (alreadyLiked)
          {
            <span>Unlike</span>
          }
          else
          {
            <span>Like</span>
          }
          <span>(@post.Likes.Count)</span>
        </button>
      </form>
    </div>
  </div>
}