@* lowercase model defines the type of data this page is sent. *@
@* capital M model is to access the data. *@
@model List<Post>

<div class="container">
  <h2 class="text-center">All Posts</h2>
  <hr>

  @foreach (Post post in Model)
  {
    <div class="card shadow-sm rounded mx-auto w-50 mb-3">
      <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">

        @* asp-route-nameOfParameter="valueOfParameter" *@
        <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.PostId">
          @post.Topic
        </a>

        @* <a href="posts/@post.PostId">
          @post.Topic
          </a> *@
      </h4>
      <div class="card-body">
        <p class="card-text">
          @post.Body
        </p>
        <small class="text-muted">
          Submitted by
          <a asp-controller="Home" asp-action="Details" asp-route-userId="@post.Author.UserId">
            @post.Author.FirstName @post.Author.LastName
          </a>
          on @post.CreatedAt
        </small>
      </div>

      @if (post.ImgUrl != null)
      {
        <img width="100%" src="@post.ImgUrl" alt="Post Media" class="card-img-bottom">
      }

      <div class="card-footer text-center">
        <form asp-controller="Posts" asp-action="Delete" asp-route-postId="@post.PostId" method="POST"
        class="d-inline-block">
          <button class="btn btn-outline-danger">Delete</button>
        </form>

        <a asp-controller="Posts" asp-action="Edit" asp-route-postId="@post.PostId"
        class="btn btn-outline-warning">Edit</a>
      </div>
    </div>
  }
</div>