@model Post

<div class="card shadow-sm rounded mx-auto w-75 mb-3">
  <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
    @Model.Topic
  </h4>
  <div class="card-body">
    <p class="card-text">
      @Model.Body
    </p>
    <small class="text-muted">
      Submitted by @Model.Author.FullName() on @Model.CreatedAt
    </small>
  </div>

  @if (Model.ImgUrl != null)
  {
    <img width="100%" src="@Model.ImgUrl" alt="Post Media" class="card-img-bottom">
  }
</div>