@model Post

<div class="card shadow rounded mx-auto w-75 mb-3">
  <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
    @Model.Topic
  </h4>

  <div class="card-body">
    <p class="card-text">
      @Model.Body
    </p>
    <small class="text-muted">
      Submitted by @Model.Author.FullName() on: @Model.CreatedAt
    </small>
  </div>

  @if (Model.ImgUrl != null)
  {
    <img src="@Model.ImgUrl" alt="related to post." class="card-img-bottom">
  }

  <div class="card-footer">
    @if (Model.UserId == Context.Session.GetInt32("UserId"))
    {
      <a asp-controller="Posts" asp-action="Edit" asp-route-postId="@Model.PostId"
      class="btn btn-outline-warning">Edit</a>

      <form asp-controller="Posts" asp-action="Delete" asp-route-postId="@Model.PostId" method="POST"
      class="d-inline-block">
        <button class="btn btn-outline-danger">Delete</button>
      </form>
    }

    <h3>Likes:</h3>
    @foreach (UserPostLike like in Model.Likes)
    {
      @* This adds a comma at the end, it can be avoided by doing a loop with i
        and checking if i is the last index and conditionally adding the comma.
        OR, see below. *@
      <span>@like.User.FullName(), </span>
    }

    <h3>Likes with String.Join</h3>
    <span>
      @String.Join(", ", Model.Likes.Select(like => like.User.FullName()))
    </span>
  </div>
</div>